body {
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    overflow: hidden;
}

.hero {
    /* position: relative;
    width: 100%;
    height: 100vh;
    background: url('/img/background.png');
    background-size: cover;
    background-position: center; */

    background: url('/img/Under-\ Maintenance.png');
    color: white;
    /* background-size: cover; */
    /* display: flex; */
    align-items: center;
    height: 100%;
    justify-content: center;
    font-family: "Playfair Display", serif;
    /* overflow: hidden; */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.coming-soon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* Added */
    flex-direction: column;
    /* Added for vertical stacking */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    animation: fadeInScale 1.5s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo img {
    width: 600px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 28, 46, 0.8);
    z-index: 1;
}

.coming-soon>* {
    position: relative;
    z-index: 2;
}

.countdown {
    gap: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* Ensures proper horizontal alignment */
    align-items: center;
    /* Ensures proper vertical alignment */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    animation: pulse 2s infinite;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 350px;
    }
}

@media (min-width: 768px) {
    .logo img {
        width: 600px;
    }
}